/*variable*/
:root {

--bg-all:rgba(157, 177, 255, 0.25) ;
  --color-white :#ffffff;
   --color-black:#000000;
   --special-color:#6bfff0;
   --accent-color:#49fd49;

   --main-margin:40px auto 80px;
   --hero-margin:10px auto 40px;
   --contact-margin:40px auto 20px;

   --main-mob-margin : 20px auto 40px;
--font-12:12px;
 --font-16:16px;
 --font-18 :18px;
 --font-24:24px;
 --font-30:30px;

 --linear-gradient1:linear-gradient(
    135deg,
   #fd93ff,
    #bef5fc
  );


  --keyframecolor1 :rgb(15, 167, 12);
   --keyframecolor2 :rgb(225, 22, 22);
}

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

 body{
  width:100%;

  background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  ),url("bg2.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

html{
    scroll-behavior: smooth;
}
main{
    font-family: sans-serif;
  min-height: 100vh;
 text-align: center;
 color:var(--color-white);
}
#menu-btn{
  display:none;
   
}
.hero{
  width:90%;
   margin:var(--hero-margin);
  padding:20px;
  border-radius:12px;
display: flex;
justify-content:space-evenly;
align-items: center;
  font-weight: bold;
 font-size: var(--font-24);
 background:var(--bg-all);
 color:var(--color-white);
  gap:40px;
 
}
#nav{
 display:flex;
 justify-content: center;
      font-size: var(--font-18);
      gap:30px;
   font-weight: bold;  
}
nav a{
   color:var(--color-white);
}
 nav a:focus , nav a:hover{
    color:var(--color-white);
}

#mob-nav{
  display: none;
}
button:focus {
  outline:2px solid #00ff00; 
}


.section-title ,.about-title {
text-align:center;
 padding :20px;
 margin:30px;
 font-size: var(--font-30);
 font-weight: bold;
 color:var(--color-white);
letter-spacing: 1px;
border-radius:12px;
}

.about{
 background:var(--bg-all);
  width:90%;
  margin:var(--main-margin);
    display :flex;
   justify-content: space-evenly;
    flex-wrap: wrap; 
    font-weight:700;
 padding:30px;
 border-radius: 12px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.1);
 gap:30px;

}

.description{
    font-size: 32px;
    margin-top:40px;
 color:var(--color-white);
 letter-spacing:1px;
    
}

.name{
  
    font-size:var(--font-30);
    font-weight: bold;
    font-style: italic;
    animation:colorchange 15s infinite ease-in-out;
  
}
 .profile-pic img{
    width:240px;
    height:240px;
    object-fit:cover;
    border-radius:50%;
    padding:2px;
    box-shadow: 0 0 20px 10px rgba(255, 249, 249, 0.5);
}
#resume{
   background: var(--linear-gradient1);
  color:var(--color-black);
  text-decoration: none;
   font-size: var(--font-24);
    font-weight:500;
  border-radius: 30px;
  padding:10px;
  transition: 0.3s;
  box-shadow: 0 8px 10px rgba(0, 117, 33, 0.5);
  transition: transform 0.3 ease;
}
#resume:hover{
    cursor:pointer;
    transform: scale(1.05) translateY(-2px);

    box-shadow: 0 0 10px 5px rgba(151, 255, 162, 0.5);
}
 
.works{
  margin:var(--main-margin);
 padding:20px;
  display:flex;
  justify-content:center;
  align-items: flex-start;
    flex-wrap: wrap;
  gap:40px;
 
}
.works p{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  width:100%;
  max-width:260px;
  height:180px;
  padding:10px;
  gap:10px;
 background:var(--bg-all);
 font-size:var(--font-24);
 border-radius: 12px;
}
.works p img{
 margin-bottom: 10px;
  width:30px;
  height:30px;
}

.works span{
  font-size: var(--font-24);
  color:var(--special-color);
}
.projects{
   margin:var(--main-margin);
padding-top: 40px;
padding-bottom: 40px;
}

.projectsn{
margin:20px;
display:flex;
align-items: center;
justify-content:center;
flex-wrap: wrap;
gap:60px;

}
.project-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width:100%;
 max-width:450px;
 height: fit-content;
margin:20px;
padding-bottom:30px;
background:var(--bg-all);
border-radius: 12px;
gap:20px;
   
}
.project-card p{
  font-size: var(--font-30);
    font-weight: bold;
   color:var(--color-white);
}
.project-card img{
  width:100%;
  height:180px;
  border-radius:12px;
}
.tech-icon {
  width:100%;
  display: flex;
    justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
     margin-left:20px;
  gap:10px;
  }
  .tech-icon span{
    margin-left: 10px;
    width:80px;
    height:30px;
    font-size: var(--font-12);
    font-weight: 700;
    padding:8px;
    border-radius: 12px;
    background-color: var(--color-white);
    color: var(--color-black);
  }
.project-desc{
align-self: flex-start;
flex-wrap: wrap;
  margin-left:20px;
  font-weight:600;
  text-align: left;
  font-size: var(--font-18);      
}
.buttons{
  width:100%;
  display: flex;
  justify-content: flex-start;
  
}
.btn_pro ,.git-repo{
  margin-left:20px;
  align-self: flex-start;
 background-color: var(--color-white);
 color:var(--color-black);
   padding:10px;
   border-radius:12px;
    font-size:var(--font-16);
   font-weight:bold;
     transition: all 0.3s ease;
  }

  .btn_pro:hover , .git-repo:hover{
  background-color:var(--accent-color);
  color: var(--color-black);
  transform:scale(1.05) translateY(-2px);
    cursor:pointer;
  }
.git-repo{
  text-decoration: none;
}
.skill-section{
  margin:var(--main-margin);
padding:20px;
   
}
.skill-slider {
  position: relative;
  display: flex;
  align-items: center;
}

#L-slideBtn,
#R-slideBtn {
  display: none;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background:var(--color-white);
  border: none;
  padding:8px;
  cursor: pointer;
  border-radius:12px;
  z-index: 10;
}

#L-slideBtn {
left: 10px;
}

#R-slideBtn {
  right: 10px;
}



.skills { 
  width:auto;
  margin: 20px;
  display: flex;
overflow-x: auto;
overflow-y: hidden;
 scroll-behavior: smooth;
    font-size:var(--font-18);
    gap:30px;
  
 padding:20px 10px;
}
.skills p {
  
background:var(--bg-all);
color:var(--color-white);
  width:120px;
  height:120px;
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: var(--font-18);
    padding:20px;
    border-radius:12px;
    font-weight:bold;
    transition:  background-color 0.3s ease,
    box-shadow 0.3s ease ,
    transform 0.3s ease,
    color 0.3s ease;
}
.skills p img{
    width:30px;
    height:30px;
}
.skills p:hover {
     box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.5);
    transform: translateY(-4px) scale(1.0);
  cursor: pointer;
}


.education{
margin:var(--main-margin);
    display:flex;
    flex-direction: column;
    align-items:center;
       justify-content: center;
}
.college{
  width:100%;
   max-width:350px;
   padding-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
       justify-content: center;
         gap:20px;
       background:var(--bg-all);
          border-radius: 12px;
}
.education img{
  width:100%;
  height:160px; 
    border-radius: 12px;
 
}

.edu-description{
display: flex ;
flex-direction: column;
   flex-wrap: wrap;
   gap:10px;
   letter-spacing: 1px;
 margin-top: 10px;
   font-size: var(--font-18);
    font-weight: bold;
    color:var(--color-white);
}
#cgpa{
    color:var(--accent-color);
}
.contact{
  padding:20px;
  margin:var(--contact-margin);
    display: flex;
    flex-direction: column;
    width:100%;
   text-align: center;
    gap :10px;
    
}


.contact-form {
    background: var(--bg-all);
  font-size: var(--font-18);
    border-radius:12px;
   width: 100%;
  max-width:380px;    
  margin: 10px auto;  
  padding:30px;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#send-banner{
  font-size: var(--font-30);
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.contact input,textarea{
  width:90%;
    padding: 12px;
   font-size: var(--font-18);
    border-radius: 12px;
    border: 1px solid var(--text-dark);
    outline: none;
}
.contact input:focus, textarea:focus {
  border-color:var(--accent-color) ;
 
}

#submit{
  margin-top:20px;
  width:100%;
    padding:12px;
    background:var(--linear-gradient1);
    color:var(--color-black);
    font-weight:600;
    border-radius:12px;
  font-size: var(--font-18);
    cursor: pointer;
    transition: 0.3s;
}
#submit:hover{
    transform: scale(1.05);
    opacity: 0.9;
}
#submit:active{
    transform:translateY(3px);
}
#submit-msg{
  font-size: var(--font-16);
  font-weight: bold;
}
#social {
  display: flex;
  justify-content: center;
  gap:60px;
  margin-bottom: 20px;
}
#social a{
  border-radius:30px;
  padding:8px;
  background-color:var(--color-white);
}
#social a img{
  width:22px;
  height:22px;
  
}
@keyframes colorchange {
    0%{
        color:var(--keyframecolor1);
    }
    50%{
         color:var(--keyframecolor2);
    }
    100%{
         color:var(--keyframecolor1);
    }
}

.footer{
   background:var(--bg-all);
    color:var(--color-white);
  padding: 10px;
    text-align: center;
    font-size: var(--font-16);
   font-style: italic;
}


@media screen and (max-width:768px) {
  .hero {
    padding:10px;
    border-radius:8px;
  }
  .about{
    margin:var(--main-mob-margin);
 padding:20px 10px;
 gap:20px;
}
#nav{
  display: none;
}
#mob-nav.open{
  background: var(--bg-all);
  color:var(--color-white);
  margin:var(--main-mob-margin);
  padding:10px;
  border-radius: 12px;
  width:90%;
  display:flex;
  flex-direction: column;
  justify-content:center ;
gap:10px;

}
#menu-btn{
  display: block;
  margin:10px auto 20px;
  padding:8px;
  font-size: var(--font-12);
  border-radius: 30px;
  background:var(--color-white);
}
.profile-pic img{
    width:180px;
    height:180px;
}
.name{
    font-size:var(--font-24);
}
#resume{
  font-size: var(--font-18);
  
}
  .section-title, .about-title {
    font-size: var(--font-24);
    padding:10px;
    margin: 10px auto;
  }
.description{
    font-size:var(--font-18);
    margin-top:20px;
}
.works{
padding: 15px;
}
.projects{
  width:100%;
  margin:var(--main-mob-margin);
 padding-bottom:20px;
}
.projectsn{
   margin :10px auto;
gap:30px;

}
  .project-card {
    width:100%;
    height:fit-content;
  }
.project-card p{
  font-size: var(--font-24);
}
.project-desc{
  font-size: var(--font-12);
}
.tech-icon {
  gap:10px;
  }
  .tech-icon span{
    
    margin-left:10px;
    font-size: var(--font-12);
    font-weight: 700;
    padding:6px;
    border-radius: 12px;
  }
.btn_pro,.git-repo{
  font-size: var(--font-12);
}
  .skill-section{

   margin:var(--main-mob-margin);
 padding:20px; 
}
#L-slideBtn,
#R-slideBtn{
  display: block;
}
  .skills {
    gap:20px;
  }
  
.skills p {
   flex: 0 0 auto; 
  width:90px;
  height:90px;
    gap:10px;
    font-size: var(--font-12);
    padding:10px;
}
.skills p img{
  width:30px ;
  height: 30px;
}
  .education {
    width:90%;
    margin: 20px auto 40px;
  }

  .education img {
    width: 100%;
    height:160px; 
  }

  .edu-description {
    font-size: var(--font-16);
    text-align: center;
  }
.project-card img{
  width:100%;
}

.contact{
  padding:15px;
 margin:var(--main-mob-margin);
    gap :10px;
    
}

.contact-form {
  font-size: var(--font-12);   
  margin: 10px auto;  
  padding:20px;
    gap:8px;
}
.contact input,textarea{
  padding:8px;
   font-size: var(--font-16);
    border-radius: 12px;
    border: 1px solid var(--text-dark);
    outline: none;
}
#button{
   font-size: var(--font-16);
    padding: 10px;
}
 #submit {
    font-size: var(--font-16);
    padding: 10px;
  }
  .footer{
    font-size: var(--font-12);
  }
}