/*variable*/
:root {
 --bg-main: aliceblue;
  --bg-soft: #f5f7ff;
 --bgbtn:#c45cf0;

  --primary-color: #30045f;
  --secondary-color: #2575fc;
  --accent-color: #229b36;
  --white :white;

  --text-dark: #1b1b1b;
--footer-color:rgb(232, 241, 182);
 --footer-back:#663b77;


--font-12:12px;
 --font-16:16px;
 --font-18 :18px;
 --font-24:24px;
 --font-30:30px;

 --linear-gradient1:linear-gradient(
    180deg,
   #235ec4,
    #9aabe3
  );
   --linear-gradient2:linear-gradient(135deg, #4f9cff,#ec86d1);


  --keyframecolor1 :rgb(15, 167, 12);
   --keyframecolor2 :rgb(225, 22, 22);
}

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*dark mode part*/
body.dark{
  --bg-main: #0f0f14;
  --bg-soft: #1c1c2b;
 --bgbtn:#c45cf0;

  --primary-color: #8b5c56;
  --secondary-color: #6366f1;
  --accent-color: #4ade80;
  --white :#1a1a1a;

  --text-dark: #f1f1f1;
--footer-color:rgb(232, 241, 182);
 --footer-back:#663b77;
}

#theme-toggle{
  background-color:white;
color: var(--text-dark);
border-radius:30px;
}
#theme-toggle:hover{
  background-color:rgba(18, 6, 6, 0.746);

}
html, body{
  width:100%;
  overflow-x:hidden;
}

html{
    scroll-behavior: smooth;

}
main{
    font-family: sans-serif;
  min-height: 100vh;
 text-align: center;
 background-color:var(--bg-main);
 color:var(--text-dark);
}
#menu-btn{
  display:none;
}
.hero{

    text-align: center;
    border: none;
    padding-top:40px;   
   padding-bottom: 40px;
  
 font-size: var(--font-18);
    color : white;

    background-image: url("violet.png");
    background-color: var(--primary-color);
    background-size: cover;
        background-position: center;
    background-repeat: no-repeat;
}
#nav{
 display:flex;
 justify-content: center;
      font-size: var(--font-18);
      gap:20px;
   font-weight: bold;
   padding-top:10px;
   
}

 a:focus , a:hover{
    color:var(--accent-color);
}
button{
    background-color:var(--bgbtn);
    color:var(--white);
   padding:4px;
    
    border: none;
    border-radius:4px;
    font-size:var(--font-18);
   
}
button:hover{
   background-color:var(--accent-color);
   color:var(--text-dark);
   transition : background-color 0.3s ease,
   transform 0.3s ease,
    color 0.3s ease;
    cursor:pointer;
    
}
button:focus {
  outline: 3px solid #ffcc00; 
}


.section-title ,.about-title {
  
   display:flex;
 
 align-items: center;
 justify-content: center;

 padding : 10px 20px;
 margin:20px auto 40px;

 font-size: var(--font-30);
 font-weight: bold;
text-decoration: underline;
background-color: var(--bg-soft);
color:var(--primary-color);
 

letter-spacing: 1px;
border-radius: 30px;
}

.about{
    display :flex;
   justify-content: center;
    flex-wrap: wrap; 
    font-weight: bold;
background-color:var(--white);
 padding:25px;
 border-radius: 12px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.1);
 gap:15px;
}
.about h3{
  flex-direction: column;
}
.description{
    font-size:var(--font-24);
    margin-top:40px;
  color:var(--text-dark);
    
}

.name{
  
    font-size:var(--font-30);
    font-weight: bold;
    font-style: italic;
    animation:colorchange 15s infinite ease-in-out;
  
}
 .profile-pic img{
    width:160px;
    height:160px;
    object-fit:cover;
    border-radius:50%;
    padding:0px;
  border: 6px solid var(--primary-color); 
}
#resume{
  font-size: var(--font-24);
    color:var(--text-dark);
  background: var(--linear-gradient2);
  border-radius: 30px;
  padding:10px;
  transition: 0.3s;
}
#resume:hover{

    transform: scale(1.03);
    opacity: 0.9;
}
 

.projects{

margin: 20px auto 10px;

 padding :60px 20px;

}

.projectsn{
  
    margin: 40px auto 40px;
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 60px;

}
.tech-icon{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top: 8px;
}
.project-card{
    width:100%;
  background: var(--linear-gradient1);
     max-width:220px;
   
  padding:20px;
   
    border-radius: 12px;
    overflow:hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
     transition: transform 0.3s , box-shadow 0.3s;
}

.project-card:hover{
    transform:translateY(-4px);
 
}
.project-card:hover .project-desc {
    opacity: 1;
    transform: translateY(0);
}

.project-image-wrapper  {
    position: relative;
    width: 100%;
    height:130px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.project-image-wrapper img{
width:100%;
height:100%;
object-fit: cover;
transition: transform 0.3s;

}
.project-image-wrapper:hover img {
transform: scale(1.1);
}
.project-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--text-dark);
    color:var(--white);
    font-size: var(--font-12);
    padding: 8px;
    text-align: center;
    opacity: 0;               /* hiding by default */
    transform: translateY(100%);
    transition: all 0.3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.skill-section{
   padding:40px 20px;
 margin-bottom: 90px;
}


.skills { 
display:flex;
    justify-content: center;
    font-size:var(--font-18);
    gap:25px;
   flex-wrap: wrap;
   padding:20px;
}
.skills p {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: var(--font-24);
background:var(--linear-gradient1);
    padding: 18px 22px;

    border-radius: 30px;
    font-weight:bold;
    color:var(--text-dark);
    cursor: default;

    transition:  background-color 0.3s ease,
    transform 0.3s ease,
    color 0.3s ease;
}

.skills p:hover {
    transform: translateY(-4px) scale(1.0);
  
    background: linear-gradient(135deg,var(--primary-color),var(--secondary-color));
    color:var(--white);
}


.education{
   margin-bottom:60px ;
    display:flex;
    
  padding: 80px 20px;
    align-items:center;
       justify-content: center;
      gap:80px;
}
.education img{
    
    max-width: 500px;
    height:300px;
    border-radius: 18px;
 
}

.edu-description{
    display:flex ;
   flex-direction: column;
    margin-top: 20px;
   font-size: var(--font-18);
    font-weight: bold;
    color:var(--text-dark);
}

.contact{
    display: flex;
    flex-direction: column;
    width:100%;
   text-align: center;
    gap :10px;
    
}
.contact h2{
    animation:colorchange 5s infinite ease-in-out;
}

.contact-form {
  
  font-size: var(--font-18);
    border-radius: 8px;

    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
 width: 100%;
  max-width: 320px;    
  margin: 10px auto;  
  background: var(--white);    

}
.contact input,textarea{
    padding: 12px;
   font-size: var(--font-18);
    border-radius: 12px;
    border: 1px solid var(--text-dark);
    outline: none;
}
.contact input:focus, textarea:focus {
  border-color:var(--accent-color) ;
 
}

#submit{
    padding: 12px;
    background: linear-gradient(135deg, #4f9cff,var(--primary-color));
    color:var(--white);
    border: none;
    border-radius: 45px;
  font-size: var(--font-18);
    cursor: pointer;
    transition: 0.3s;
}
#submit:hover{
    transform: scale(1.03);
    opacity: 0.9;
}
#submit:active{
    transform:translateY(3px);
}
.contact-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     gap:20px;
     width:fit-content;
     margin:10px auto;
    font-size: var(--font-18);
    font-weight: bold;
   color: var(--text-dark);
  overflow-x: hidden;
   padding:10px;
    border-radius: 12px;
   background: var(--linear-gradient1);
  
   
}
@keyframes colorchange {
    0%{
        color:var(--keyframecolor1);
    }
    50%{
         color:var(--keyframecolor2);
    }
    100%{
         color:var(--keyframecolor1);
    }
}

.footer{
 
  margin-top: auto;
  padding-top: 10px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:15px;
    color:var(--footer-color);
    background-color: var(--footer-back);
}
#social{ 
  display:inline-flex;
  gap:20px;

}

@media screen and (max-width: 768px){
    #menu-btn{
    display:block;
    margin: auto;
   background-color:white;

  }
  #nav{
    display: none;
    flex-direction: column;
    gap:10px;
    padding:10px;
  }
#nav.open{
 display:flex;
}

    .hero{
   padding-bottom: 10px;
 font-size:var(--font-16);
}
.name{
    font-size: var(--font-30);
}
.description{
  font-size: var(--font-24);
}
.section-title ,.about-title {

 padding : 5px 16px;
 margin: 20px auto 32px;
 font-size: var(--font-24);
 font-weight: bold;
 border-radius: 12px;
letter-spacing: 1px;
}

    main{
        margin:auto;
    }
    .description { text-align: center; }
    .projects{
        padding:20px 20px;
    }
  .projectsn {align-items: center; gap: 20px; margin:10px auto 10px}
  
   .project-card{
    padding:12px;
  }
  
  .skill-section{
   padding:40px 20px;
   margin-bottom: 5px;
gap:20px;
}

  .skills {gap: 10px; padding:10px}
  .skills p {
   font-size: var(--font-12);
    padding: 10px;
  }
  .about { flex-direction: column; text-align: center; }
    .contact {
        flex-direction: column;
        gap: 20px;
    }
   .education{
   margin:40px ;
    display:flex;
    flex-direction: column;
    align-items:center;
       justify-content: center;
         gap:40px;
    padding:40px 20px;

}
.education img{
    width:90%;
    height:150px;
    border-radius: 18px;
 
}
.edu-description{
    display:flex ;
   flex-wrap: wrap;
    margin-top: 10px;
    font-size:var(--font-12);
    font-weight: bold;
}
.contact-box{
    font-size: var(--font-18);
}
}


@media screen and (max-width: 480px) {

 

  .hero {
    font-size:var(--font-12);
    padding: 8px;
  }

.name{
    font-size:var(--font-18);
}
#resume{
  font-size: var(--font-18);
  
}
  .section-title, .about-title {
    font-size: var(--font-18);
    padding: 6px 12px;
    margin: 12px auto;
  }

  .description {
    font-size: var(--font-16);
    margin-top: 20px;
  }

  .project-card {
    width: 90%;  
    max-width: 280px;
    padding: 10px;
  }

  .skills {
    width:fit-content;
    margin: auto;
    flex-direction: column;

    justify-content: center;
    gap: 16px;
    padding: 5px;
  }



  .education {
    gap: 20px;
    margin: 10px;
  }

  .education img {
    width: 100%;
    height: auto; 
  }

  .edu-description {
    font-size: var(--font-12);
    text-align: center;
  }

  .contact-form {
    max-width: 90%; /* shrink form width */
    font-size:var(--font-18);
  }
.contact-box{

  max-width: 90%;
  flex-direction: column;
}
  button, #submit {
    font-size: var(--font-12);
    padding: 10px;
  }
  .footer{
    font-size: var(--font-12);
  }
}